<div class="user form">

  <%= form_with(model: configuracoes_sistema, local: true) do |form| %>
       <% if configuracoes_sistema.errors.any? %>

         <div id="error_explanation" class="panel panel-danger mensagem-erro-cabecalho">
           <div class="panel-heading">
               <h3 class="panel-title"><%= pluralize(configuracoes_sistema.errors.count, "error(s)") %> ao salvar:</h3>
            </div>
           <div class="panel-body">
             <ul>
             <% configuracoes_sistema.errors.full_messages.each do |message| %>
               <li><%= message %></li>
             <% end %>
             </ul>
           </div>
         </div>
       <% end %>
    
    <div class="row">
       <div class="col-lg-6 form-group">   
           <%= form.label :nome_sistema, :class => 'control-label required' %>
           <%= form.text_field :nome_sistema, id: :configuracoes_sistema_nome, :class => 'form-control' %>
       </div>
    
    </div>

    <div class="row">
    <div class="col-lg-6 form-group">   
        <%= form.label :prazo_dias, :class => 'control-label required' %>
        <%= form.text_field :prazo_dias, id: :configuracoes_sistema_nome, :class => 'form-control' %>
    </div>
 
    </div>  


    <div class="row">
    <div class="col-lg-6 form-group">   
        <%= form.label :valor_multa, :class => 'control-label required' %>
        <%= form.text_field :valor_multa, id: :configuracoes_sistema_nome, :class => 'form-control' %>
    </div>
 
    </div>  
    

    
      <div class="row">
          <div class="col-lg-7 form-group">  
            <input type="submit" name="commit" class="btn btn-primary colorprimarybtn" value="Salvar" data-disable-with="Salvando" />
            <%= link_to 'Voltar', configuracoes_sistema_path(@configuracoes_sistema), :class => "btn btn-primary colorprimarybtn"%>
          </div>
      </div>
   <% end %>                         
</div>
