<div class="categdespesas index">
<h2>Configuracoes Do Sistema</h2>
<%= form_tag configuracoes_sistemas_path( format:"html"), :method => 'get' do %>  
<div class="row">
  <div class="col-lg-12">
    <div class="row">
        <div class="col-lg-5  form-group">  
          <%= text_field_tag :nome_sistema, params[:nome_sistema], :class => 'form-control', :placeholder=>"Digite o nome para pesquisar" %>  
        </div>
        <div class="col-lg-2 form-group">
          <%= submit_tag "Pesquisar", :class => "btn btn-primary colorprimarybtn" %>
        </div>
      
        <div class="col-lg-2 form-group">  
            <span class="input-group-btn" style="display: inline-block;"><button class="btn btn-primary colorprimarybtn" type="button" onclick="javascript: location.href='<%= new_configuracoes_sistema_path %>';"><i class="fa fa-plus-circle"></i> Nova configuração Do sistema</button></span>
      </div>
  </div>
</div>
</div>
<% end  %>  

<div class="table-responsive">
<table class="table table-hover table-striped" cellpadding="0" cellspacing="0">
<thead>
<tr>
<th>Nome Do sistema</th>
<th>Prazo em dias</th>
<th>Valor da multa</th>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @configuracoes_sistemas.each do |configuracoes_sistema| %>
<tr>
  <td><%= "%06d"%configuracoes_sistema.id %></td>
  <td><%= configuracoes_sistema.prazo_dias %></td>
  <td><%= configuracoes_sistema.valor_multa %></td>
  <td><%= link_to 'Visualizar', configuracoes_sistema %></td>
  <td><%= link_to 'Alterar', edit_configuracoes_sistema_path(configuracoes_sistema) %></td>   
  <td><%= link_to 'Excluir', configuracoes_sistema, method: :delete,remote: true, class: 'remove-tag', data: { confirm: 'Deseja excluir a configuracoes_sistema?' } %></td>
</tr>
<% end %>
</tbody>
</table>
</div>

<%= paginate @configuracoes_sistema %>
</div>