<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">
              Configurações
          </h2>
      </div>
  </div>

  <div class="row">
     <div class="col-lg-6 form-group">
         <label class = 'control-label'>Nome Do Sistema</label>
        <input readonly="true" class = 'form-control' value="<%= @configuracoes_sistema.nome_sistema %>" />
     </div>
  </div>

  <div class="row">
     <div class="col-lg-6 form-group">
         <label class = 'control-label'>Prazo Em Dias</label>
        <input readonly="true" class = 'form-control' value="<%= @configuracoes_sistema.prazo_dias %>" />
     </div>
  </div>



  <div class="row">
     <div class="col-lg-6 form-group">
         <label class = 'control-label'>Valor Da Multa</label>
        <input readonly="true" class = 'form-control' value="<%= @configuracoes_sistema.valor_multa %>" />
     </div>
  </div>


  <div class="row">
    <div class="col-lg-4 form-group">
      <%= link_to 'Alterar', edit_configuracoes_sistema_path(@configuracoes_sistema), :class => "btn btn-primary colorprimarybtn" %>
      <%= link_to 'Voltar',  configuracoes_sistemas_path, :class => "btn btn-primary colorprimarybtn"%>
    </div>
  </div>
</div>