<div class="user form">

  <%= form_with(model: leitor, local: true) do |form| %>
       <% if leitor.errors.any? %>

         <div id="error_explanation" class="panel panel-danger mensagem-erro-cabecalho">
           <div class="panel-heading">
               <h3 class="panel-title"><%= pluralize(leitor.errors.count, "error(s)") %> ao salvar:</h3>
            </div>
           <div class="panel-body">
             <ul>
             <% leitor.errors.full_messages.each do |message| %>
               <li><%= message %></li>
             <% end %>
             </ul>
           </div>
         </div>
       <% end %>
    
    <div class="row">
       <div class="col-lg-6 form-group">   
           <%= form.label :nome, :class => 'control-label required' %>
           <%= form.text_field :nome, id: :leitor_nome, :class => 'form-control' %>
       </div>
       <div class="col-lg-3 form-group">   
           <%= form.label :cpf, :class => 'control-label required' %>
           <%= form.text_field :cpf, id: :leitor_nome, :class => 'form-control', :onkeypress=>"mask_cpf(this, mcpf);", :onblur=>"mask_cpf(this, mcpf);" %>
       </div>
       <div class="col-lg-3 form-group">   
           <%= form.label :telefone, :class => 'control-label required' %>
           <%= form.text_field :telefone, id: :leitor_nome, :class => 'form-control', :onkeypress=>"mask(this, mphone);", :onblur=>"mask(this, mphone);" %>
       </div>
       <div class="col-lg-3 form-group">   
           <%= form.label :email, :class => 'control-label required' %>
           <%= form.text_field :email, type: 'email', id: :leitor_nome, :class => 'form-control' %>
       </div>
       <div class="col-lg-3 form-group">   
           <%= form.label :tipo_leitor, :class => 'control-label required' %>
           <%= form.text_field :tipo_leitor, id: :leitor_nome, :class => 'form-control' %>
       </div>
       <div class="col-lg-3 form-group">   
           <%= form.label :matricula, :class => 'control-label required' %>
           <%= form.text_field :matricula, id: :leitor_nome, :class => 'form-control' %>
       </div>
    </div>
    

    
      <div class="row">
          <div class="col-lg-7 form-group">  
            <input type="submit" name="commit" class="btn btn-primary colorprimarybtn" value="Salvar" data-disable-with="Salvando" />
            <%= link_to 'Voltar', leitors_path, :class => "btn btn-primary colorprimarybtn"%>
          </div>
      </div>
   <% end %>                         
</div>
