<%= form_with(model: leitor) do |form| %>
  <% if leitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leitor.errors.count, "error") %> prohibited this leitor from being saved:</h2>

      <ul>
        <% leitor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :tipo_leitor %>
    <%= form.text_field :tipo_leitor %>
  </div>

  <div class="field">
    <%= form.label :matricula %>
    <%= form.text_field :matricula %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
