<p id="notice"><%= notice %></p>

<h1>Leitors</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Tipo leitor</th>
      <th>Matricula</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leitors.each do |leitor| %>
      <tr>
        <td><%= leitor.nome %></td>
        <td><%= leitor.cpf %></td>
        <td><%= leitor.telefone %></td>
        <td><%= leitor.email %></td>
        <td><%= leitor.tipo_leitor %></td>
        <td><%= leitor.matricula %></td>
        <td><%= link_to 'Show', leitor %></td>
        <td><%= link_to 'Edit', edit_leitor_path(leitor) %></td>
        <td><%= link_to 'Destroy', leitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leitor', new_leitor_path %>
