<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @livro.nome %>
</p>

<p>
  <strong>Edicao:</strong>
  <%= @livro.edicao %>
</p>

<p>
  <strong>Qtd paginas:</strong>
  <%= @livro.qtd_paginas %>
</p>

<p>
  <strong>Qtd livros:</strong>
  <%= @livro.qtd_livros %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @livro.descricao %>
</p>

<p>
  <strong>Editora:</strong>
  <%= @livro.editora_id %>
</p>

<p>
  <strong>Categore:</strong>
  <%= @livro.categore_id %>
</p>

<%= link_to 'Edit', edit_livro_path(@livro) %> |
<%= link_to 'Back', livros_path %>
