<!DOCTYPE html>
<html>
  <head>
    <title>Syscead</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

  </head>

  <body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" >
            <div class="sidebar-header">
               <a href="<%= root_path%>" class="menulink"> <h3>SysCead</h3> </a>
            </div>
            <ul class="list-unstyled components" class="menulink">
                <li>
                    <a href="<%= livros_path  %>" class="menulink" ><i class="fa fa-sitemap fa-fw"></i> Livros</a>
                </li>
                <li>
                    <a href="<%= leitors_path %>" class="menulink" ><i class="fa fa-user fa-fw"></i> Leitores</a>
                </li>
               
                
                <li>
                    <a href="#configuracaosubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menulink">
                    <i class="fas fa-cog"></i> Configurações</a>
                    <ul class="collapse list-unstyled" id="configuracaosubmenu">
                        <li>
                            <a href="<%= autors_path  %>" class="menulink" ><i class="fa fa-book fa-fw"></i> Autores</a>
                        </li>
                        <li>
                            <a href="<%= editoras_path %>" class="menulink" ><i class="fa fa-book fa-fw"></i> Editoras</a>
                        </li>
                        <li>
                            <a href="<%= categores_path %>" class="menulink" ><i class="fa fa-book fa-fw"></i> Categorias</a>
                        </li>
                        <li>
                            <a href="<%= users_path %>" class="menulink"><i class="fa fa-users fa-fw"></i> Usuários</a>
                        </li>
                    </ul>
                </li>
                
            
                <li>
                    <a href="<%=  %>" class="menulink"><i class="fa fa-question fa-fw"></i> Ajuda</a>
                </li>
            </ul>
       
         
           <ul class="list-unstyled CTAs">
                <li>
                   
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary colorprimarybtn">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto colorprimarybtn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="">Dados Pessoais</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

          <div class="content container-fluid">
              <div class="container-fluid">
              
                <%= yield %>
                
              </div>
          </div>
        </div>
    </div>
    <%= render :partial => 'layouts/utilscripts' %>
  </body>
</html>
